node_modules/
**/node_modules/
**/dist/
**/.next/
**/.env*
**/__pycache__/
*.mpeg
*.mp4
*.wav
*.png
*.jpeg
*.jpg
!README.md
!PROFILE_README.md
!DASHBOARD_USER_MANUAL.md
!HEART_RATE_GUIDE.md
!Presentation_Script.html
!**.json
!**.ts
!**.tsx
!**.js
!**.jsx
!**.py
!**.mjs
!**.yaml
!**.txt
!**.ps1
!**.html
!**.d.ts
!**.config.ts
!**.config.js
!**.mjs
!**.css
!**.scss
!**.svg
!**.ico
!**.webp
!**.gif
!**.md
